*{
    margin: 0;
    padding: 0;
    font-family:  'Roboto Mono', monospace;
}
header{
    background-color: #fff8f3;
    background-image: url(../public/assets/images/header_bg.png), url(../public/assets/images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
    padding: 0 50px;
}
/* header & navbar section */
nav{
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    padding: 30px;   ;
}
.nav-title{
    font-size:xx-large;
    font-weight:bold;
    color:black;
}
.nav-title span{
    color: blue;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav li button{
    background-color: blanchedalmond;
    height: 50px;
    border: 0;
    border-radius: 10px;
    padding: 18px 35px;
}
/* banner */
.banner{
    display: flex;
    align-items: center;
    margin: 0 70px;
}
.banner .description{
    margin-left: 35px;
}
.banner button{
    background-color: blanchedalmond;
    height: 50px;
    border: 0;
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 30px;
}
.banner .contact-button{
    border: 1px solid black;
    background-color: aliceblue;
}
.banner .description h3{
    font-weight: 600;
    font-size: 45px;
}
.banner .description h1{
    font-weight: 700;
    font-size: 70px;
}
.banner .description p{
    margin-top: 5px;
}
/* Main about section */
main{
    max-width: 1140px;
    margin: 0 auto;
}
.about{
    margin-top: 130px;
    background-color: #fff8f3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}
.about h3{
    margin-bottom: 30px;
    font-size: 35px;
    font-weight: 700;
}
.about > p{
    margin-bottom: 30px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info-container .about-info .title{
    font-size: 15px;
}
.about-info-container .about-info .value{
    font-weight: 600;
    font-size: 15px;
}
/* What i do */
.what-i-do{
    margin-top: 130px;
    text-align: center;
}
.what-i-do .title{
    
}
.what-i-do .description{
    margin-top: 30px;
}
.what-i-do .skills-container{
    display: flex;
    margin-top: 50px;
    gap: 10px;
    text-align: justify;
}
.what-i-do .skills-container .skill{
    background-color: aliceblue;
    border-radius: 20px;
    padding: 10px 30px;
}
.what-i-do .skills-container .skill-title{
    font-weight: bolder;
    font-size: large;
    margin-top: 20px;
}
.what-i-do .skills-container .skill-description{
    margin-top: 30px;
}
/* resume section */
.summary-resume{
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}
.summary-resume .resume{
    display: flex;
    gap: 50px;
    margin-top: 50px;   
}
.summary-resume .resume .education .edu{
    background-color: #fff8f3;
    padding: 15px 30px;
    border-radius: 20px;
    margin-top: 30px;
}
.summary-resume .resume .experience .exp{
    background-color: #fff8f3;
    padding: 15px 30px;
    border-radius: 20px;
    margin-top: 30px;
}
.summary-resume button{
    background-color: blanchedalmond;
    height: 50px;
    border: 0;
    border-radius: 10px;
    padding: 10px 30px;
    margin: 30px 420px;
}
/* footer */
footer{
    height: 500px;
    display: flex;
    align-items: center;
    background-color: #fff8f3;
    gap: 100px;
}
footer .written{
    margin-left: 100px; 
}
footer .form{
    margin-right: 100px;
}
footer .form .main div{
    margin-top: 10px;
    margin-bottom: 10px;
}
footer .form .main div button{
    background-color: rgb(245, 189, 104);
    height: 50px;
    border: 0;
    border-radius: 10px;
    padding: 10px 10px;
}